table {
	border: 1px solid silver;
	
}
td:hover {
	background-color: yellow;
	color: black;
}
tr, th {
	background-color: black;
	color: cornsilk;
	padding: 15px;
	
}
tr, td {
	background-color: rgb(3, 110, 3);
	color: white;
	padding: 15px;
}