/*front end pdx*/
html {
    scroll-behavior: smooth;
}

/*Body*/
body {
  margin: 0%;
  opacity: 1;
  transition: 3s opacity;
  letter-spacing: .2vw;
  font-family: Avant Garde, Helvetica;
  font-size: 1.5vw;
}

/*This section contributes to the fade effect when the page is loading*/
body.fade-out {
    opacity: .1;
    transition: none;
}

/*NAVBAR*/
.navbar {
    overflow:hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 3s;
    animation: moveNav 3s;
}

/*Navbar text*/
.navbar a {
    float: left;
    display: block;
    color: white;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: movenavText 3.75s;
    animation: movenavText 3.75s;
    letter-spacing: .2vw;
}

/*Animation effect for moving the navbar in from the top of the screen on page load*/

@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

/*Animation effect for moving the navbar in from the top of the screen on page load*/

@keyframes moveNavText {
    from {left: -100vw;}
    to {left: 0vw;}
}

/*This animation effect causes the overlay video text to move up from the bottom of the page on load */

@keyframes movevideoText {
    from {left: -100vw;}
    to {left: 0vw;}
}

/*Navbar hover effect*/
.navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

/*Navbar home button*/
.navbar a.active {
    background-color: darkgray;
}

/*This causes the video to zoom out from a zoomed in position on page load*/
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.5,1.5);
    }
    100% {
        transform: scale(1,1);
    }
}

/* VIDEO */
#Typing_Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 20%;
    z-index: -1;
}

/*TEXT OVER VIDEO*/
.video_text {
    background: rgb(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 20px;
    margin-top: 23%;
    font-family: Arial, sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
* {
    box-sizing: border-box;
}
.column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 450px;
    background-color: #f2f2f2;
    
}
.column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 55px;
    height: 450px;
    background-color: #4d4d4d;
}
.column_3 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3.5%;
    height: 450px;
    background-color: #4d4d4d;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*HEADING 1 ELEMENTS */
h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, sans-serif;
    font-stretch: extra-expanded;
    margin-top: 3%;
    color: #1a1a1a;
}
p {
   font-family: Perpetua, Rockwell Extra Bold; 
   text-align: justify;
   letter-spacing: 1px;
   font-size: 20px;
   padding-left: 20px;
   padding-right: 20px;  
}
q {
    font-style: italic;
    font-weight: bold;
}
center {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: blue;
}
/* <!--IMAGE ELEMENTS--> */
img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* <!--CONTACT FORM--> */
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Perpetua, Rockwell Extra Bold;
}
/*--SUBMIT BUTTON--*/
input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Perpetua, Rockwell Extra Bold;
}
/*--HOVER EFFECT FOR SUBMIT BUTTON--*/
input[type=submit]:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    transform: scale(1.5);
    transition: transform 1.5s;
}
/*--FORM ELEMENT--*/
form {
    border-radius: 3px;
    background-color: #f2f2f2;
    padding: 18px;
    font-family: 'Trebuchet MS', Optima;
}
/*CENTER ALIGN ELEMENT HOVER EFFECT*/
center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}
/*PARAGRAPH HOVER EFFECT*/
p:hover {
    color: #00004d;
    transition: transform 1s;
    transform: scale(1.01);
}
/*HEADING 1 ELEMENT HOVER EFFECT*/
h1:hover {
    color: black;
    font-weight: normal;
}
/*IMAGE HOVER EFFECT*/
img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}
/*FOOTER ELEMENT*/
footer {
    padding: 2%;
    background-color: white;
}